# =====================
# Python
# =====================

__pycache__/
*.py[cod]


# =====================
# Virtual Environment
# =====================

.venv/


# =====================
# PyCharm
# =====================

.idea/


# =====================
# Mac
# =====================

.DS_Store


# =====================
# Training Results
# =====================

Experiments/


# Model weights

*.pth
*.pt


# =====================
# Kaggle
# =====================

.kaggle/